@defer {
  <app-card></app-card>
  } @placeholder (minimum 5000ms) {
    <div class="p-4 bg-gray-100 shadow-md rounded-lg">
        <p class="animate-pulse text-gray-400 text-center">Cargando datos...</p>
      </div>
  }

  <br>
  @defer (on interaction) {
  <app-card></app-card>
    
  } @placeholder {
    <div class="p-4 bg-gray-100 shadow-md rounded-lg">
      <p class="animate-pulse text-gray-400 text-center">p datos...</p>
    </div>
  }
  <br>


  @defer (on hover) {
  <app-card></app-card>
    
  } @placeholder {
    <div class="p-4 bg-gray-100 shadow-md rounded-lg">
      <p class="animate-pulse text-gray-400 text-center">Cargando datos...</p>
    </div>
  }

  <br>
  @defer(on hover){
    <app-card></app-card>
  }@placeholder{
    <p class="text-3xl text-center p-2">pasa y observa</p>
  }
  @defer(on timer(3000)){
    <app-card></app-card>
  }@placeholder{
    <p class="text-3xl text-center p-2">pasa y observa</p>
  }
  @defer(on idle){
    <app-card></app-card>
  }@placeholder{
    <p class="text-3xl text-center p-2">pasa y observa</p>
  }

  <br>
  @defer(on idle){
    <app-card></app-card>
  }@placeholder{
    <p class="text-3xl text-center p-2">pasa y observa</p>
  }

  <br>
  @defer(on idle){
    <app-card></app-card>
  }@placeholder{
    <p class="text-3xl text-center p-2">pasa y observa</p>
  }

  <br>
  @defer(on idle){
    <app-card></app-card>
  }@placeholder{
    <p class="text-3xl text-center p-2">pasa y observa</p>
  }

  <br>
  @defer(on idle){
    <app-card></app-card>
  }@placeholder{
    <p class="text-3xl text-center p-2">pasa y observa</p>
  }

  <br>
  @defer(on idle){
    <app-card></app-card>
  }@placeholder{
    <p class="text-3xl text-center p-2">pasa y observa</p>
  }
  <br>
  @defer(on viewport){
    <app-card></app-card>
  }@placeholder{
    <p class="text-3xl text-center p-2">pasa y observa</p>
  }

  <br>
  

  