@defer {
  <app-card></app-card>
  } @placeholder (minimum 5000ms) {
    <div class="p-4 bg-gray-100 shadow-md rounded-lg">
        <p class="animate-pulse text-gray-400 text-center">Cargando datos...</p>
      </div>
  }

  <br>
  @defer (on interaction) {
  <app-card></app-card>
    
  } @placeholder {
    <div class="p-4 bg-gray-100 shadow-md rounded-lg">
      <p class="animate-pulse text-gray-400 text-center">Cargando datos...</p>
    </div>
  }
  <br>


  @defer (on hover) {
  <app-card></app-card>
    
  } @placeholder {
    <div class="p-4 bg-gray-100 shadow-md rounded-lg">
      <p class="animate-pulse text-gray-400 text-center">Cargando datos...</p>
    </div>
  }

  